<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="samsung" class="com.github.camelya58.models.Phone" scope="prototype">
        <property name="id" value="1"/>
        <property name="brand" value="Samsung"/>
        <property name="model" value="SII"/>
        <property name="price" value="30000"/>
    </bean>
    <bean id="iPhone" class="com.github.camelya58.models.Phone" scope="prototype">
        <property name="id" value="2"/>
        <property name="brand" value="iPhone"/>
        <property name="model" value="X"/>
        <property name="price" value="80000"/>
    </bean>

</beans>
